
<footer>
  <div class="container">
    <hr/>
    <div class="row">
      <div class="col-md-12" style="text-align: center">
        <p>
          <strong>Metal-Max</strong>, ul. Zagnanska 84a, Kielce  <strong>Telefon</strong>: 41 362 66 60
        </p>
        <p>
          @Copyright Metal-Max S.C
        </p>
      </div>
    </div>
  </div>
</footer>
