
<div class="footer-model-1 footer-color-dark">
  <div class="footer-bottom-line">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="footer-copyright">
            <p>
              Metal-Max, ul. Zagnanska 84a, Kielce     Telefon: 41 362 66 60
            </p>
            <p>
              @Copyright Metal-Max S.C
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
