<div class="header-model-1">

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="header-logo">
          <!-- <a href="index.html"><img src="images/elements/header-logo.png" alt="sevenhold logo" /></a> -->
          <a class="navbar-brand" href="#">
            Metal Max
          </a>
        </div>
      </div>
      <div class="col-md-8">
        <div class="menu">
          <div class="responsive-menu">Menu</div>
          <ul>
            <li>
              <a href="/">Strona główna</a>
            </li>
            <li>
              <a href="asortyment">Asortyment</a>
            </li>
            <li>
              <a href="kontakt">Jak dojechać</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
