<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ title }} | Metal Max</title>
  <link rel="stylesheet"
  href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>
  <!-- header -->
  {{> nav }}
  <!-- end header -->
  
  <div class="main-wrapper">
    {{{ contents }}}
  </div>

  <!-- footer -->
  {{> footer }}
  <!-- end footer -->
</body>
</html>
