<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ title }} | Metal Max</title>
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
</head>
<body>
  <!-- header -->
  {{> nav }}
  <!-- end header -->

  <div class="main-wrapper">
    {{{ contents }}}
  </div>

  <!-- footer -->
  {{> footer }}
  <!-- end footer -->

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <!-- TODO add local version of jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
